
.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

.messagesContainer {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  display: flex;
}

.messageContent {
  max-width: 75%;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #1e1e1e;
}

.message--incoming {
  justify-content: flex-start;
  
}

.message--incoming .messageContent {
  background-color: #1e1e1e;
  border: 1px;
  border-radius: 10px;
  color: var(--text-color);
}

.message--outgoing {
  justify-content: flex-end;

}

.message--outgoing .messageContent {
  background-color: #1e1e1e;
  color: var(--text-color);
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 2px solid black;
}

.inputField {
  flex-grow: 1;
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-right: 10px;
}

.sendButton {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  cursor: pointer;
}

.sendButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}