.auroraGradient {
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.headerBody {
    text-align: center;
}

.auroraContent {
    margin-bottom: var(--mantine-spacing-md);
}

.auroraTitle {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 900;
    text-align: center;
    font-size: 2rem; 

    @media (max-width: 48em) {
        font-size: 1.75rem;
        text-align: left;
    }
}

.aurora {
    display: flex;
    justify-content: center;
    margin-top: var(--mantine-spacing-sm);
}

.aurora__item {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: #ff0000; /* Adjust color as needed */
    margin: 0 var(--mantine-spacing-xs);
}
